<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" /> 
    <title>Bookstore</title>
</head>
<body>
    <h1>Bookstore</h1>
    <div class="col-md-4">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out" class="btn btn-sm btn-danger">
        </form>
    </div>
    <table class="table table-striped">
        <tbody>
            <th>Title</th>
            <th>Author</th>
            <th>Isb</th>
            <th>Price</th>
            <th>Category</th>
            <th sec:authorize="hasAuthority('ADMIN')">Delete</th>
            <tr th:each = "book : ${books}">
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.isb}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category.name}"></td>
                <td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-xs btn-danger" >Delete</a></td>
            </tr>
        </tbody>
    </table>
    <a href="/add" class="btn btn-success" >Add book</a>
</body>